.popout {
	cursor: pointer;
	vertical-align: middle;
}
.popout:hover {
	transform: scale(1.2);
}

.contextMenu {
	display: none;
	position: fixed;
	top: 10vh;
	left: 10vw;
	right: 10vw;
	bottom: 10vh;
	z-index: 1000;
	background-color: rgb(255, 255, 255);
	padding: 1%;
}

/*
.container-centered {
	
}
*/
.container-centered > * {
	margin-left: auto;
	margin-right: auto;
}

.iframeWindow {
	display: block;
	position: fixed;
	top: 100vh;
	left: 0vw;
	right: 0vw;
	bottom: 0vh;
	width: 100vw;
	height: 100vh;
	z-index: 2000;
	background-color: rgb(255, 255, 255);
	padding: 0;
	border: none;
	overflow-x: hidden;
}

.col {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.row {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.even-spacing {
	margin-left: 1%;
	margin-right: 1%;
}

/*.even-spacing > *:first-child {
	margin-left: auto;
}

.even-spacing > *:last-child {
	margin-right: auto;
}*/