body {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 1);
	/*background-image: url("../img/cube.png");
	background-repeat: no-repeat;
	background-size: cover;*/
	overflow-y: hidden;
	font-family: ubuntu, monospace;
}

a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#info {
	position: fixed;
	top: 100vh;
	left: 0;
	width: 100vw;
	z-index: 100;
	display: block;
	color: rgb(255, 255, 255);
	/*border: 1px solid #ffffff;*/
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
}

#info > * {
	/*border: 1px solid rgb(255, 255, 255);*/
}

#textCanvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	display: none;
}

#pauseMenu {
	font-family: ubuntu, monospace;
}

#unpauseBtn {
	height: 2em;
	width: 2em;
	position: fixed;
	top: 10vh;
	right: 10vw;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

#unpauseBtn:hover {
	background-color: rgba(200, 200, 200, 0.5);
}

#gameOver {
	text-align: center;
	font-family: monospace;
	font-size: 10vh;
	background-color: rgba(255, 255, 255, 0);
	color: rgb(255, 255, 255);
}

#startMenu {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	position: fixed;
	top: 10vh;
	left: 10vw;
	right: 10vw;
	bottom: 10vh;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
	color: rgb(255, 255, 255);
	height: 100vh;
	/*border: 1px solid white;*/
	line-height: 10vh;
	/*overflow-y: auto;*/
}

#startMenu > * {
	margin: 0;
}

#startMenu > h1 {
	font-family: monospace;
	font-size: 5em;
}

#startMenu > h2 {
	
}

#bg {
	width: 100vw;
	height: 100vh;
	border: none;
	z-index: 1;
}

#loadingDiv {
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
}

#loadingDiv > * {
	position: relative;
	top: 50%;
}